body
{
background-color: lightgray;
font-family: sans-serif;
}

.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}


/* esto es toda la seccion 1, solo los airpods */
.seccion1-items{
    display: block;

}

/* esto es todos los bordes */
.carrito-item{
    
}

/* este es el borde para cada seccion (todos los colores de cada seccion van a estar juntos ) */
.carrito-item-detalles{
    border: 1px solid #666;
    height: 110px;

}

.carrito-item-titulo-1 {
    padding: 0 10px;
    }

.carrito-item-precio-1{
    padding: 5px 10px;

}

.selector-cantidad{
    


}

.filita-1{
    display: flex;
}

.plus-1{
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 50%;
        margin-left: 5px;
        padding: 2px;



        
    }

    .carrito-item-cantidad{
        margin-left: 5px;
        width: 20px;
        
       
        

    }


    .minus-1{
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 3px;
    padding: 2px;

    
    }


.btn-eliminar-1{
    cursor: pointer;
    padding: 10px;
    margin-left: -5px;


}

/* Aqui termina la seccion de "filita-1"y tambien se da comienzo a la seccion 2 */

.carrito-item-titulo-2{
    padding: 0 10px;
}

.carrito-item-precio-2{
    padding: 5px 10px;

}

.filita-2{
display: flex;

}

.plus-2{
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 5px;
    padding: 2px;

    
}

.carrito-item-cantidad{
    margin-left: 5px;
    width: 20px;
    

}


.minus-2{
cursor: pointer;
border: 1px solid #000;
border-radius: 50%;
margin-left: 3px;
padding: 2px;

}


.btn-eliminar-2{
    cursor: pointer;
    padding: 10px;
    margin-left: -5px;

}
    /* hasta aca llega la seccion "filita-2" */


    /* comienzo de seccion 3 y "filita-3" */

    .carrito-item-detalles{
        border: 1px solid #666;
        height: 110px;
    
    }
    
    .carrito-item-titulo-3 {
        padding: 0 10px;
        }
    
    .carrito-item-precio-3 {
        padding: 5px 10px;
    
    }
    
    .selector-cantidad{
        
    
    
    }
    
    .filita-3{
        display: flex;
    }
    
    .plus-3{
            cursor: pointer;
            border: 1px solid #000;
            border-radius: 50%;
            margin-left: 5px;
            padding: 2px;
    
    
    
            
        }
    
        .carrito-item-cantidad{
            margin-left: 5px;
            width: 20px;
            
           
            
    
        }
    
    
        .minus-3{
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 50%;
        margin-left: 3px;
        padding: 2px;
    
        
        }
    
    
    .btn-eliminar-3 {
        cursor: pointer;
        padding: 10px;
        margin-left: -5px;
    
    
    }


    /* esta es la seccion del pago */

.carrito-total{
margin-left: 350px;

}

.btn-pagar{
    display: flex;   
    align-items: center;
    
}

.bag{
    width: 20px;
    
    
}
header
{
    display: flex;
    background-color: rgb(159, 158, 158);
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    display: flex;
}
.logo img
{
    height: 75px;
    margin-right: 10px;
}
a 
{
    text-decoration: none;
    color: black;
    text-align: center;
}
@media (max-width:420px){
    .carrito{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        font-size: 105%;
    }
    .carrito-item-detalles{
        height: auto;
    }
    .carrito-precio-total{
       flex-direction: column;
    }
    .titulo-carrito{
        text-align: center;
    }
    .carrito-total{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        text-align: center;
        transform: translateX(-300px);
    }
    strong{
        text-align: center;
    }
    .carrito-precio-total{
        align-items: center;
        text-align: center;
    }
    button{
        margin-left: 100px;
    }
    
    
}
@media (min-width:420.01px) and (max-width:767px){
    .carrito{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        
    }
    .seccion1-items{
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 75%;
        height: 75%;
    }
    .titulo-carrito{
        text-align: center;
    }
    button{
        margin-left: 100px;
    }
}
@media (max-width:768px){
    .navbar{
       padding: 10px 0px;
       flex-direction: column;
       align-items: center;
    }
    header{
           flex-direction: column;
        }
    nav{
           padding: 10px 0px;
        }
    .footer
        {
           flex-direction: column;
        }
        .titulo-carrito{
            text-align: center;
        }
        .carrito-total{
            flex-direction: column;
            align-items: center;
            width: auto;
            height: auto;
            text-align: center;
            transform: translateX(-200px);
        }
        .carrito{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto; 
        }
        button{
            margin-left: 100px;
        }
       }
    @media(min-width:769px){
        .carrito{
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
        .imagenes-carrito{
            padding: 10px 0px;
            flex-direction: column;
            align-items: center;
        }

        .titulo-carrito{
            text-align: center;
        }
        .carrito-total{
            flex-direction: column;
            align-items: center;
            width: auto;
            height: auto;
            text-align: center;
            transform: translateX(-200px);
    }
}