body{
    margin: 0;
    padding: 0;
    background-color: rgb(116, 113, 116);
    font-family: sans-serif;}
header{
    display: flex;
    background-color: rgb(159, 158, 158);
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
}
.logo img{
    height: 75px;
    margin-right: 10px;
}
.logo {
    text-decoration: none;
    color: black;
    text-align: center;}
@media (max-width:768px){
header{
    flex-direction: column;
}

nav{
    padding: 10px 0px;
}
.footer{
    flex-direction: column;
}
}
.nombresintegrantes{
    padding: 40px;
}
.footer{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(159, 158, 158);
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
.navbar a{
    padding: 20px;
}
@media (max-width:768px){
.navbar{
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
}
}
.carrito{
    width: 50px;
    height: 30px;
    margin-right: -15px;
    margin-bottom: -5px;
}
.seccion1{
    align-items: center;
    background-color: rgb(206, 210, 210);
    margin: 50px;
}
.tituloseccion{
    text-align: center;
    font-size: 70px;
    padding-top: 100px;
}
.descripcionprod{
    display: flex;   
    margin: 50px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 60px;
}
.productos{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: justify;
}
.remeranegra{
    width: 350px;
    align-items: center;
}
.shortnegro{
    width: 350px;
    align-items: center;  
    height: 512px; 
}
.textotitulo{
    font-size: 30px;
    margin-top: 50px;
}
.buzonegro{
    width: 375px;
    height: 512px;
    align-items: center;
}
.camperanegra{
    align-items: center;
    height: 512px;
    width: 350px;
}
.precio{
    font-size: 30px;
    margin: 20px;
}
.precio1{
    font-size: 200%;
    text-align: center;
}
.desc{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
.botoncomprar{
    font-size: 20px;
    cursor: pointer;
    margin-left: 6px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
}   
.botoncomprar1{
    font-size: 20px;
    cursor: pointer;
    margin-left: 6px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
}
@media (max-width:768px){
.navbar{
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
}
}
.carrito{
    width: 50px;
    height: 30px;
    margin-right: -15px;
    margin-bottom: -5px;
}
.seccion1{
    align-items: center;
    background-color: rgb(206, 210, 210);
    margin: 50px;
}
.tituloseccion{
    text-align: center;
    font-size: 70px;
    padding-top: 100px;
}
.descripcionprod{
    display: flex;   
    margin: 50px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 60px;
}
.productos{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: justify;
}
.remeranegra{
    width: 350px;
    align-items: center;
}
.shortnegro{
    width: 350px;
    align-items: center;  
    height: 512px; 
}
.textotitulo{
    font-size: 30px;
    margin-top: 50px;
}
.buzonegro{
    width: 375px;
    height: 512px;
    align-items: center;
}
.camperanegra{
    align-items: center;
    height: 512px;
    width: 350px;
}
.precio{
    font-size: 30px;
    margin: 20px;
}
.precio1{
    font-size: 200%;
    text-align: center;
}
.desc{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
.botoncomprar{
    font-size: 20px;
    cursor: pointer;
    margin-left: 6px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
}   
.botoncomprar1{
    font-size: 20px;
    cursor: pointer;
    margin-left: 6px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
}
@media(min-width:769px) and (max-width:990px){
 section {
    flex-direction: column;
}
.precio{
    font-size: 150%;
}
.botoncomprar{
    font-size: 150%;
}
}            
@media (max-width:1500px){
section{
    flex-direction: column;
}
img {
    width: 100%;
    height: 75%;
}
}
            
            