body{
    margin: 0;
    padding: 0;
    background-color: rgb(116, 113, 116);
    font-family: sans-serif;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}
form{
    background-color: white;
    width: 400px;
    border: 2px solid black;
    border-radius: 20px; 
}
.escrito{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.email{
margin: 30px 0;
width: 80%;
}
.contraseña{
margin: 15px 0;
width: 80%;
}
input[type="submit"]{
        width: 80%;
        height: 50px;
        background-color: rgb(159, 158, 158);
        border-radius: 20px;
        
}
header
{
    display: flex;
    background-color: rgb(159, 158, 158);
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    display: flex;
}
.logo img
{
    height: 75px;
    margin-right: 10px;
}
.logo 
{
    text-decoration: none;
    color: black;
    text-align: center;
}
.recuperar{
    color: lightskyblue;

}
.nocuenta{
    text-decoration: none;
    color: blue;
    text-align: center;
}
.nombresintegrantes 
{
    padding: 40px;
}
.footer
{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(159, 158, 158);
}

@media (max-width:500px){
    .form {
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        display: flex;
     }
     .footer {
    flex-direction: column;
     }
     }

@media (min-width:500px) and (max-width:767px){
.form {
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}
}
@media (max-width:768px){
    .navbar{
       padding: 10px 0px;
       flex-direction: column;
       align-items: center;
    }
    }
@media (max-width:768px){
    header{
           flex-direction: column;
        }
    nav{
           padding: 10px 0px;
        }
    .footer
        {
           flex-direction: column;
        }
       }